body{
    background-color: #e9ecef !important;
}
ul{
    list-style: none;
}
.card-title.h5{
    color:#5a5ae1;
}
.loading{
    background: url('/src/static/spinner.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

img.card-img-top{
    background-color: #e9ecef;
    width:80%;
    align-items: center;
    margin: 15px 15px 0px 20px;
}
.card {
    margin-bottom: 20px;
}
.filter-head p{
    text-align: center !important;
    border-bottom: 1px solid gray;
    font-size: 14px;
    width:50%;
    margin-left: 65px;
}
.btn.btn-success {
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 30px;
}
input.active {
    background-color: #8800BA !important;
}
span{
    margin-left:10px;
    font-size: 13px;
}
ul{
    list-style: disc !important;
}
.mission-list{
    margin-left: 5px;
    font-size: 13px;
    width:100%;
}
strong{
    font-size: 14px !important;
}
.no-missions{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    margin-left: 20px;
}
@media (min-width: 286px) {
    .btn.btn-success {
        cursor: pointer;
        margin-bottom: 10px;
        align-items: center;
        margin-left: 10%;
    }
    img.card-img-top{
        background-color: #e9ecef;
        width:80%;
        align-items: center;
        margin: 15px 15px 0px 18px;
    }
}

@media (min-width: 360px) {
    .btn.btn-success {
        cursor: pointer;
        margin-bottom: 10px;
        align-items: center;
        margin-left: 30%;
    }
    img.card-img-top{
        background-color: #e9ecef;
        width:80%;
        align-items: center;
        margin: 15px 15px 0px 35px;
    }

    .filter-head p {
        text-align: center !important;
        border-bottom: 1px solid gray;
        font-size: 14px;
        width: 50%;
        margin-left: 110px;
    }
}

@media (min-width: 768px) {
    .btn.btn-success {
        cursor: pointer;
        margin-bottom: 10px;
        align-items: center;
        margin-left: 0px;
    }
    img.card-img-top{
        background-color: #e9ecef;
        width:80%;
        align-items: center;
        margin: 15px 15px 0px 12px;
    }
    .filter-head p {
        text-align: center !important;
        border-bottom: 1px solid gray;
        font-size: 14px;
        width: 50%;
        margin-left: 35px;
    }
}

@media only screen and (min-width: 992px) {

    .btn.btn-success {
        cursor: pointer;
        margin-bottom: 10px;
        align-items: center;
        margin-left: 10px;
    }
    img.card-img-top{
        background-color: #e9ecef;
        width:80%;
        align-items: center;
        margin: 15px 15px 0px 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .btn.btn-success {
        cursor: pointer;
        margin-bottom: 10px;
        align-items: center;
        margin-left: 30%;
    }
    img.card-img-top{
        background-color: #e9ecef;
        width:80%;
        align-items: center;
        margin: 15px 15px 0px 22px;
    }

}